@model ProductVM


<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
        </div>
    </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden />
            <input asp-for="attribute.Id" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Title" class="form-control border-0 shadow" />
                            <label asp-for="Product.Title" class="ms-2"></label>
                            <span asp-validation-for="Product.Title" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Product.Description" class="ms-2 text-muted"></label>
                            <textarea asp-for="Product.Description" class="form-control border-0 shadow" > </textarea>

                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="attribute.Quantity" class="form-control border-0 shadow" />
                            <label asp-for="attribute.Quantity" class="ms-2"></label>
                            <span asp-validation-for="attribute.Quantity" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Brand_name" class="form-control border-0 shadow" />
                            <label asp-for="Product.Brand_name" class="ms-2"></label>
                            <span asp-validation-for="Product.Brand_name" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Material" class="form-control border-0 shadow" />
                            <label asp-for="Product.Material" class="ms-2"></label>
                            <span asp-validation-for="Product.Material" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            
                            <select asp-for="Product.Type" class="form-select border-0 shadow">
                                <option disabled selected>--select Type--</option>
                                <option >Male</option>
                                <option >Female</option>
                                <option >Kids</option>
                            </select>
                            <label asp-for="Product.Type" class="ms-2"></label>
                            <span asp-validation-for="Product.Type" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select  asp-for="@Model.Product.CategoryID" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                            <option disabled selected>--select Category--</option>
                           
                            </select>
                            <label asp-for="Product.CategoryID" class="ms-2"></label>
                            <span asp-validation-for="Product.CategoryID" class="text-danger"></span>
                        </div>


                        <div class="form-floating py-2 col-12 parent-select-size">
                            <select asp-for="attribute.SizeID" asp-items="@Model.SizesList" class="select-size form-select border-0 shadow">
                                <option disabled selected>--select Size--</option>
                            </select>
                            <label asp-for="attribute.SizeID" class="ms-2"></label>
                            <span asp-validation-for="attribute.SizeID" class="text-danger"></span>

                            <div class="add-size btn btn-primary py-2 px-4 m-2" style="width: fit-content;">Add Size</div>
                            
                            <!-- selected sizes list -->
                            <ul class="selected-sizes"></ul>



                            
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="attribute.ColorID" asp-items="@Model.ColorsList" class="form-select border-0 shadow">
                                <option disabled selected>--select Color--</option>
                            </select>
                            <!-- add color -->
                            <div class="add-color btn btn-primary py-2 px-4 m-2" style="width: fit-content;">Add Color</div>

                            <!-- colors list -->
                            <ul class="selected-colors" style="list-style: none;"></ul>
                            <label asp-for="attribute.ColorID" class="ms-2"></label>
                            <span asp-validation-for="attribute.ColorID" class="text-danger"></span>
                           
                            

                            </div>

                         <div class="form-floating py-2 col-12">
                            <input type="file" name="files" class="form-control border-0 shadow" multiple/>
                            <label asp-for="attribute.Images" class="ms-2"></label>
                              
                        </div>
                       
                        <div class="form-floating py-2 col-12">
                            <input asp-for="@Model.attribute.Price" class="form-control border-0 shadow" />
                            <label asp-for="@Model.attribute.Price" class="ms-2"></label>
                            <span asp-validation-for="@Model.attribute.Price" class="text-danger"></span>
                        </div>
                      


                           <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.Product.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {   
                                        <button type="submit" class="btn btn-primary form-control">Create</button>
                                       
                                    
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                </div>
                <div class="col-2">
                    @if (Model.attribute.Images != null) {
                        foreach(var image in Model.attribute.Images) {
                            <div class="border p-1 m-2 text-center">
                                <img src="@image.Image_url" width="100%"
                                     style="border-radius:5px; border:1px solid #bbb9b9" />
                                     <a asp-action="DeleteImage" class="btn btn-danger" asp-route-imageId="@image.Id">
                                    <i class="bi bi-trash-fill"></i> Delete
                                     </a>
                            </div>
                        }
                    }
                    
                </div> 
                        
           
        </form>
    </div>
</div>
@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });

        // get size
        let parentSelectSize = document.querySelector(".parent-select-size");
        let selectSize = document.querySelector(".select-size");
        let addSize = document.querySelector(".add-size");
        let sizeList = document.querySelector(".selected-sizes");

        addSize.addEventListener("click", () => {
            let selectedItem = selectSize.options[selectSize.selectedIndex].value;
            let li = document.createElement("li");
            li.innerHTML = selectedItem;
            

            sizeList.append(li);

        });


        // get color
        let parentSelectColor = document.querySelector(".parent-select-color");
        let selectColor = document.querySelector("input[type='color']");
        let addColor = document.querySelector(".add-color");
        let colorList = document.querySelector(".selected-colors");

        addColor.addEventListener("click", () => {

            let li = document.createElement("li");
            let span = document.createElement("span");
            span.style.background = selectColor.value;
            let p = document.createElement("p");
            p.innerHTML = selectColor.value;

            li.append(span);
            li.append(p);

            colorList.append(li);


        });
    </script>

    @{
      
            <partial name="_ValidationScriptsPartial" />
    }

}




