@model ShoppingCartVM
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/CartStyle.css" asp-append-version="true">
    <title>Cart</title>


</head>
<body style="background-color:#e7eaee">
  

    <div class="card" style="margin-bottom:300px;max-width: 1300px;">
        <div class="row">
            <div style="background-color:#ffffff" class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col"><h4><b>Shopping Cart</b></h4></div>
                        <div class="col align-self-center text-right" >@Model.shoppingCartList.Count() items</div>
                    </div>
                </div>
                @foreach (var item in Model.shoppingCartList)
                {
                    
                
                 <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        @if(item.attribut.Images.Count>0){
                                <div class="col-2"><img class="img-fluid" src="@item.attribut.Images[0].Image_url"></div>
                            }
                            <div class="col" style="color:#102c57">
                                <div class="row">@item.attribut.Product.Category.Name</div>
                            <div class="row">___</div>
                                <div class="row">Size :@item.attribut.Size.Name</div>
                                <div class="row">Color :@item.attribut.Color.Name</div>
                        </div>
                           
                        <div class="col hero__text">
                                <a asp-action="minus" asp-route-cartId="@item.Id">-</a><a class="border">@item.quantity</a><a asp-action="plus" asp-route-cartId="@item.Id">+</a>
                        </div>
                            <div class="col">TL @item.attribut.Price <a asp-action="remove" asp-route-cartId="@item.Id" ><span style="margin-left:10px;font-size:20px" class="close">&#10005;</span></a></div>
                            
                               
                           
                    </div>

                    </div>
                }
  
                <div class="back-to-shop"><a asp-area="Customerr" asp-controller="Home" asp-action="Index">&leftarrow;</a><span style="color:#102c57">CONTINUE SHOPPING</span></div>
            </div>
            <div class="col-md-4 summary" style="background-color:#e7eaee">
                <div><h5><b>Summary</b></h5></div>
                <hr>
                <div class="row">
                    <div class="col" style="padding-left:0;">ITEMS @Model.shoppingCartList.Count()</div>
                    <div class="col text-right">TL @Model.OrderTotal</div>
                </div>
                <form>
                    <p>SHIPPING</p>
                    <select><option class="text-muted">Standard-Delivery- TL 30.00</option></select>
                   
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">TL @(Model.OrderTotal+30)</div>
                </div>

                <button type="submit"
                        class="btn btn-primary bg-gradient  w-100 py-2 text-uppercase fw-semibold">
                    CHECKOUT
                </button>
            </div>
        </div>

    </div>


</body>
</html>



