﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model ShoppingCart;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Product Card/Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="~/css/Detailsstyle.css" asp-append-version="true" />
    @*  <link rel="stylesheet" href="~/css/mainStyle.css" asp-append-version="true" /> *@
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous" />

</head>
<body>
    <!-- header start -->
    <header class="header">
        <div class="header__top-bar">
            <div class="header__logo">
                <a asp-controller="Home" asp-action="Index" class="header__logo--link"> <img src="~/Images/Icones/Logo.png" width="40%" alt=""> </a>
            </div>
            <form action="#" class="header__search">
                <input type="text"
                       class="header__search-input"
                       placeholder="Search different clothes" />
            </form>


            <div class="header__login">
                <div style="margin-right:10px;margin-left:10px">

                    <a asp-controller="ShoppingCart" asp-action="cart" class="sepp">
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32(SD.Seccioncart) != null)
                        {
                            <span class="material-symbols-outlined">
                                shopping_cart
                                <h3 class="sepp" style="font-size:15px">
                                    My Cart
                                    (@HttpContextAccessor.HttpContext.Session.GetInt32(SD.Seccioncart))
                                </h3>
                            </span>

                        }
                        else
                        {
                            <span class="material-symbols-outlined">
                                shopping_cart
                                <h3 class="sepp" style="font-size:15px">
                                    My Cart
                                    (0)
                                </h3>
                            </span>

                        }

                    </a>

                </div>
                <div style="margin-right:10px">

                    <a asp-controller="ShoppingCart" asp-action="cart" class="sepp">
                        <span class="material-symbols-outlined">
                            favorite
                            <h3 class="sepp" style="font-size:15px">My Fav0rites</h3>
                        </span>

                    </a>

                </div>

                @*  <a asp-controller="ShoppingCart" asp-action="cart" class="cart-icon">
                <img  src="~/Images/cart-outline.svg" />

                </a> *@




                <partial name="_LoginPartial" />
                @*  <a asp-controller="Loging" asp-action="logIn" class="header__login-link">Login</a> *@
            </div>
        </div>
        <nav class="header__category">
            <a asp-controller="Categorys" asp-action="Index" asp-route-type="Male" class="btn btn--link">Men</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-type="Female" class="btn btn--link">Women</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-type="Kids" class="btn btn--link">Kid</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="1" class="btn btn--link">Pants</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="4" class="btn btn--link">Skirt</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="5" class="btn btn--link">Shirt</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="6" class="btn btn--link">Sweat</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="3" class="btn btn--link">Dress</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="8" class="btn btn--link">Coat</a>
            <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="2" class="btn btn--link">Sport</a>

        </nav>
    </header>
    <!-- header end -->
    <form method="post">
        <input hidden asp-for="AttributId">
        <div class="card-wrapper">
            <div class="card1">
                <!-- card left -->
                <div class="product-imgs">
                    <div class="img-display">
                        <div class="img-showcase">
                            @if (Model.attribut.Images.Count > 0)
                            {
                                foreach (var item in Model.attribut.Images)
                                {
                                    <img src="@item.Image_url" class="img1" alt="shoe image" />
                                }
                                @* <img src="@Model.attribut.Images[0].Image_url" width="100%" class="rounded" /> *@
                            }

                        </div>
                    </div>
                    <div class="img-select">
                        @if (Model.attribut.Images.Count > 0)
                        {
                            if (Model.attribut.Images.Count != 1)
                            {

                                int cc = 0;
                                foreach (var item in Model.attribut.Images)
                                {
                                    cc++;
                                    <div class="img-item">
                                        <a href="#" data-id="@cc">
                                            <img src="@item.Image_url" class="img1" alt="shoe image" />
                                        </a>
                                    </div>

                                }

                            }



                        }
                    </div>

                </div>

                <!-- card right -->
                <div class="product-content">
                    <h2 class="product-title">@Model.attribut.Product.Title</h2>
                    <a href="HomePage.html" class="product-link">Visit Clover Store</a>
                    <div class="product-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>4.7(21)</span>
                    </div>

                    <div class="product-price">
                        <p class="last-price">Old Price: <span>TL @(Model.Price - 100)</span></p>
                        <p class="new-price">New Price: <span>TL @Model.Price</span></p>
                    </div>

                    <div class="product-detail">
                        <h3>about this item:</h3>
                        <p>@Html.Raw(@Model.attribut.Product.Description)</p>
                        <ul>
                            <li>
                                Colors:
                                @foreach (var attrib in Model.attribut.Product.attributes)
                                {
                                    <b>&emsp;</b>
                                    <span style="color:rgb(@attrib.Color.Red,@attrib.Color.Green,@attrib.Color.Blue);">@attrib.Color.Name</span>


                                }
                            </li>
                            <li>Available: <span>in stock</span></li>
                            <li>Category: <span>@Model.attribut.Product.Category.Name</span></li>
                            <li>Shipping Area: <span>All over the world</span></li>
                            <li>Shipping Fee: <span>Free</span></li>
                            <li>Brand: <span>@Model.attribut.Product.Brand_name</span></li>
                            <li>Material: <span>@Model.attribut.Product.Material</span></li>
                            <li>
                                <select name="Size-detail">
                                    <option>Select Size</option>
                                    @foreach (var attrib in Model.attribut.Product.attributes)
                                    {
                                        <option>@attrib.Size.Name</option>
                                    }
                                </select>
                            </li>
                        </ul>

                    </div>

                    <div class="purchase-info">

                        <input asp-for="quantity" type="number" min="0" max="@Model.attribut.Quantity" value="1" />
                        <button type="submit" class="btn">
                            Add to Cart <i class="fas fa-shopping-cart"></i>
                        </button>

                        <button type="button" class="btn">
                            Add to favoriats<li class="material-symbols-outlined" style="font-size:18px">favorite</li>
                        </button>

                    </div>

                    <div class="social-links">
                        <p>Share At:</p>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--See more-->
    <div class="product-section">
        <h2>There's always more</h2>
        <div class="product-categories">
            <div class="category-item">
                <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="14">
                    <img src="~/Images/1689854409332 (Custom).jpg" alt="T-shirt" />
                    <p>Clover suit</p>
                </a>
            </div>
            <div class="category-item">
                <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="5">
                    <img src="~/Images/08209035083-e1 (Custom).jpg" alt="shirt" />
                    <p>Clover shirt</p>
                </a>
            </div>
            <div class="category-item">
                <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="3">
                    <img src="~/Images/01971151512-e1 (Custom).jpg" alt="dress" />
                    <p>Clover dress</p>
                </a>
            </div>
            <div class="category-item">
                <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="13">
                    <img src="~/Images/06688307427-e1 (Custom).jpg" alt="jeans" />
                    <p>Clover jeans</p>
                </a>
            </div>
            <div class="category-item">
                <a asp-controller="Categorys" asp-action="Index" asp-route-categoryId="10">
                    <img src="~/Images/04216414806-e1 (Custom).jpg" alt="sportswear" />
                    <p>Clover shorts </p>
                </a>
            </div>
        </div>
    </div>


    @section Scripts {
        @{

            <script src="~/js/DetailsScript.js"></script>

        }
    }

</body>
</html>


